<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        <a href="{{ page.url }}"><h1>{{ title }}</h1></a>
        {{ content }}
    </main>
    <footer>
        <p>&copy; Where Scott Does Everything</p>
    </footer>
</body>
</html>
