--- 
layout: base 
---
<!-- Hero-->
<hero>
    <div class="row align-items-center gy-4 g-lg-5 p-4 mb-4">
        <div class="col-lg-7 text-center text-lg-start">
            <div class="fs-3 fw-light text-muted">Hello Everyone</div>
            <h1 class="display-3 fw-bolder mb-4"><span class="text-gradient d-inline">I'm Scott Nunemacher</span></h1>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-lg-start mb-3">
                <a class="btn btn-primary px-5 py-3 me-sm-4 fs-6 fw-bolder" href="resume.html">Resume</a>
                <a class="btn btn-outline-dark px-5 py-3 fs-6 fw-bolder" href="projects.html">Projects</a>
            </div>
        </div>
        <div class="col-md-10 col-lg-5 mx-auto">
            <div style="background-color: #0d6efd; height: 100%;" class="profile bg-gradient-primary-to-secondary">
                <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                <!-- Watch a tutorial on how to do this on YouTube (link)-->
                <img class="profile-img" src="assets/profile.png" alt="..." />
            </div>
        </div>
    </div>
</hero>

<section class="text-center">
    {{ content }}
</section>
