// body
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > header,
body > main,
body > footer {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

body > header {
    flex-direction: row;
    justify-content: space-between;
}

body > footer {
    margin-top: auto;
    align-items: center;
}

// blockquotes
blockquote > p {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}

// headers
h1 {
    text-align: center;
}

.tags {
    display: flex;
    justify-content: center;
}
